.Contact{
    background: url(../img/contact2.png) center center no-repeat;
    background-size: auto 100%;
}
.contactContent{
    max-width: 250px;
    margin: auto;
}
.content h3{
    text-transform: uppercase;
    text-align: left;
}
.mailAdd{
    color: #961D1A;
    text-align: left;
    font-size:1.1em;
}
.contactTel{
    font-size:1.4em;
    text-align: left;
}
.physicalAddress p,
.billingAddress p,
.binding p{
    font-style:normal;
    margin: 8px 0;
    text-align: left;
    font-weight: 600;
}
.physicalAddress p,
.billingAddress p{
    color:#929395;
}
.binding,
.physicalAddress,
.billingAddress{
    margin: 0 0 25px 0;
}