<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../common/css/common.css">
    <link rel="stylesheet" href="../common/css/about.css">
</head>
<body>
<div class="container">
    <header class="header">
        <h1>Veteran Care Network</h1>
    </header>
    <div class="LegendMap">
        <ul class="controlComponentMap">
            <li class="controlElementMap" id="mapControl"></li>
            <li class="controlElementMap" id="searchControl"></li>
            <li class="controlElementMap" id="modeControl"></li>
            <li class="controlElementMap" id="helpControl"></li>
        </ul>
    </div>
    <section class="content">
        <p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, beatae, quibusdam! Accusantium asperiores debitis, deserunt eligendi eveniet facere in incidunt iure, mollitia necessitatibus quas veniam voluptas voluptates. A, illum, provident?</span><span> Asperiores autem delectus ducimus maiores minima nihil pariatur quis sint suscipit. Alias beatae dolor, dolore, dolores ex ipsum libero minima nam nesciunt nobis praesentium quae quam quo reprehenderit repudiandae? Nam.</span><span>Aperiam ducimus eius enim error, esse ex expedita id maxime molestiae neque nesciunt praesentium qui ratione rem tempore! Amet culpa, ex fuga harum maiores reprehenderit similique sint voluptatem. Autem, molestias?</span>
        </p>
        <form action="" class="feedbackForm">
            <legend class="legendForm">Введите свои данные</legend>
            <div class="control-group">
                <label for="name" class="labelName"></label>
                <input type="text" id="name" placeholder="Name">
            </div>
            <div class="control-group">
                <label for="tel" class="labelAddress"></label>
                <input type="text" id="address" placeholder="Address">
            </div>
            <div class="control-group">
                <label for="tel" class="labelPhone"></label>
                <input type="tel" id="tel" placeholder="Telephone">
            </div>
            <div class="control-group">
                <label for="email" class="labelMail"></label>
                <input type="email" id="email" placeholder="Email">
            </div>

            <button type="submit" class="btnForm">Отправить</button>
        </form>
    </section>

    <nav class="nav-block">
        <ul class="nav-list">
            <li class="nav-item Home"><a href="../index.html" class="nav-link-item"></a></li>
            <li class="nav-item Map"><a href="Map.html" class="nav-link-item"></a></li>
            <li class="nav-item About"><a href="about.html" class="nav-link-item"></a></li>
            <li class="nav-item Contact"><a href="contact.html" class="nav-link-item"></a></li>
        </ul>
    </nav>
</div>
</body>
</html>