<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../common/css/common.css">
    <link rel="stylesheet" href="../common/css/contact.css">
</head>
<body>
<div class="container">
    <header class="header">
        <h1>Veteran Care Network</h1>
    </header>
    <div class="LegendMap">
        <ul class="controlComponentMap">
            <li class="controlElementMap" id="mapControl"></li>
            <li class="controlElementMap" id="searchControl"></li>
            <li class="controlElementMap" id="modeControl"></li>
            <li class="controlElementMap" id="helpControl"></li>
        </ul>
    </div>
    <section class="content contactContent">
        <address class="binding">
            <p class="mailAdd">info@veterancarenetwork.com</p>
            <p class="contactTel">(336) 379-7585</p>
        </address>
        <h3>Physical address</h3>
        <address class="physicalAddress">
            <p>1209 Westhampton Drive</p>
            <p>Greensboro NC 27405</p>
            <p>United States</p>
        </address>
        <h3>Billing address</h3>
        <address class="billingAddress">
            <p>P.O. Box 36436</p>
            <p>Greensboro NC 27405</p>
            <p>United States</p>
        </address>


    </section>
    <nav class="nav-block">
        <ul class="nav-list">
            <li class="nav-item Home"><a href="../index.html" class="nav-link-item"></a></li>
            <li class="nav-item Map"><a href="Map.html" class="nav-link-item"></a></li>
            <li class="nav-item About"><a href="about.html" class="nav-link-item"></a></li>
            <li class="nav-item Contact"><a href="contact.html" class="nav-link-item"></a></li>
        </ul>
    </nav>
</div>
</body>
</html>